################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lodepng.h
/lodepng.cpp
/heatmap.h
/heatmap.c
